.s-home{
  display: none;
  padding-top: 10rem;
  width: 100%;
  max-width: 111.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  

  .right{
    position: relative;
    h1{
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 80px;
      color: #000000;
      position: relative;
      
    }
    span{
      position: absolute;
      z-index: -1;
      top: 173px;
      left: 435px;
      
    }
    .detalhe{
      position: absolute;
        z-index: -1;
    }
    display: flex;
    flex-direction: column;
    gap: 3rem;
.subtitle{
    display: flex;
    align-items: center;
    gap: 1.5rem ;
    p{
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 82px;
      color: #3B3535;
    }
    }
  }
}
@media(max-width:850px){
  .s-home{
    align-items: center;
    img{
      display: none;
    }
    .subtitle{
      position: relative;
      right: 153px;
    }
    .right{
      align-items: center;
    }
    flex-direction: column;
  }
}
@media(max-width:375px){
 .s-home{
  .right{
    gap: 0px;
    h1{
      font-size: 37px;
      line-height: 58px;
    }
    .subtitle{
      position: relative;
      left: -56px;
    }
  }
 }
}
.s-xp{
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 111.5rem;
  margin: 0 auto;
  padding-top: 10.9rem;

  .right{
    .div-info{
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 200;
      font-size: 25px;
      line-height: 4.2rem;
      color: #000000;
      padding-bottom: 5.8rem;
    }
  }

  .div-pro{

    width: 100%;
    max-width: 57.8rem;
    border-radius: 0.3rem;
    padding: 0 5rem;
    background: #D9D9D9;
    display: flex;
    justify-content: space-between;
    h3{
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #131111;
      padding-bottom: 1rem;
      padding-top: 3.5rem;
    }
    p{
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      color: #000000;
      padding-bottom: 4.9rem;
    }
    .tec{
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #474141;
      background: #F0EEEE;
      border-radius: 3px;
      text-align: center;
     
    }
    .wrap{
      display: flex;
      gap:1.5rem ;
      flex-wrap: wrap;
      width: 156px;

    }
    .d-detalhe{
      display: flex;
      flex-direction: column;
      gap: 3.3rem ;
      padding-top: 4.5rem;
      padding-bottom: 3.8rem;

      button{
        padding: 9px 46px ;
        background: #E46565;
        border-radius: 4px;
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
      }
    }
  }
}
@media(max-width:850px){
  .s-xp{
    img{
      display: none;
    }
    .right{
      position: relative;
      right: 128px;
    }
  }
}
@media(max-width:375px){
  .s-xp{
    position: relative;
    right: -128px;
    .right{
      .div-info{
        text-align: center;
        font-size: 15px;
        line-height: 3.2rem;
      }
      .div-pro{
        padding: 0 1rem;
      }
    }
  }
}


.s-formacao{
  padding-bottom: 8.3rem;
  .img-2{
    position: relative;
    top: -106px;
  }
  .right{
    display: flex;
    flex-direction: column;
    gap: 88px ;
  }
  background: #2D2A2A;
  .container{
    padding-top: 13rem;
    max-width: 112rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    h2{
      font-family: 'Fira Sans';
      font-style: normal;
      font-weight: 300;
      font-size: 3rem;
      line-height: 3.6rem;
      color: #D2D1D1;
      
    }
    .Formacao{
      display: flex;
      gap: 29px ;
      .for{
        background: #000000;
        border-radius: 0.2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        width: 20.5rem;
        padding: 0 1.3rem;
      }
      .for2{
        background: #000000;
        border-radius: 0.2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        width: 20.5rem;
        padding: 0 1.3rem;
        h3{
          padding-top: 1.9rem;
          padding-bottom: 13px;
          width: 174px;
          font-family: 'Archivo';
          font-style: normal;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.6rem;
          color: #8C8C8C;
        }
        p{
          font-family: 'Archivo';
          font-style: normal;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.6rem;
          color: #FFFFFF;
        }
        a{
          font-family: 'Archivo';
          font-style: normal;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.6rem;
          color: #8C8C8C;
          padding-top: 13px;
        }
      }
    h3{
      padding-top: 1.9rem;
      padding-bottom: 29px;
      width: 174px;
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.6rem;
      color: #8C8C8C;
    }
    p{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.6rem;
      color: #FFFFFF;
    }
    a{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.6rem;
      color: #8C8C8C;
      padding-top: 2.9rem;
      padding-bottom: 3rem;
    }
    }
    
  }
.linguagem{
  display: flex;
  flex-direction: column;
  img{
    height: 3rem;
    width: 3rem;
    top: -35px;
    position: relative;
  }
  .img{
    display: flex;
    gap: 1.9rem;
    p{
      position: relative;
      top: -27px;
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 16px;
      color: #8C8C8C;
    }
  }
  .text{
    p{
      padding-left: 43px;
      position: relative;
      top: -25px;
      right: -7px;
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 16px;
      color: #8C8C8C;
      span{
        color: #FFFFFF;
      }
    }
  }
}
}
@media(max-width:850px){

  .s-formacao{
    justify-content: center;
    img{
      display: none;
    }
    .right{
      font-size: 23px;
      line-height: 4.6rem;
      max-width: 100%;
      justify-content: center;
      display: grid;
    }
    .container{
      justify-content: center;
    }
  }

}
@media(max-width:375px){
  .s-formacao .container .Formacao{
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  }
.s-formacao{
  .container{
    .formacao{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .right{
    h2{
      font-size: 2rem;
      position: relative;
      right: -3px;
    }
  }
.linguagem{
  p{
    right: -69px;
  }
  .text{
   p{
    top: -17px;
    right: -65px;
   }
  }
}
}

.s-contato{
  background: #000000;
  padding-bottom: 30px;
.container{
  justify-content: center;
  display: flex;
  gap:14.8rem ;
  padding-top: 10rem;
  width: 100%;
  max-width: 111.5rem;
  margin: 0 auto;
  .d-social{ 
    display: flex;
    flex-direction: column; 
    gap:3.4rem ;
    div{
      display: flex;
      gap: 2.8rem;
      align-items: center;
      a{
        text-decoration: none;
        color: #8C8C8C;
      }
    }
    p{
      font-family: 'Archivo';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      font-feature-settings: 'case' on;
      color: #8C8C8C;
    }
  }
}
  h3{
    position: relative;
    top: -102px;
    padding-top: 16.8rem;
    position: relative;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    text-transform: lowercase;
    color: #FFFFFF;
    font-stretch: 94;
    span{
      position: absolute;
      height: 3rem;
      width: 3rem;
      padding-left: 10px;
      padding-top: 8px;
    }
  }
}
@media(max-width:850px){
.s-contato{
  .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
}
@media(max-width:375px){
  .s-contato{
    h3{
      font-size: 23px;
    }
  }
}